<div class="flex items-start gap-2.5" [ngClass]="{'justify-end': isRightAligned}">
  <div class="flex flex-col gap-1 w-full max-w-[320px]" [ngClass]="{'items-end': isRightAligned}">
    <div class="flex items-center space-x-2 rtl:space-x-reverse">
      <span class="text-sm font-semibold text-gray-900 dark:text-white">{{ message.sender }}</span>
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ getTime() }}</span>
    </div>
    <div class="flex flex-col leading-1.5 p-4 border-gray-200 bg-gray-100 dark:bg-gray-700"
         [ngClass]="{
         'rounded-s-xl rounded-se-xl': isRightAligned,
         'rounded-e-xl rounded-es-xl': !isRightAligned
         }">
      <p class="text-sm font-normal text-gray-900 dark:text-white">{{message.message}}</p>
    </div>
  </div>
</div>
