<join-window title="Join a Game">
  <form [formGroup]="joinForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <input type="text"
           formControlName="username"
           placeholder="Enter your name"
           class="block w-full p-4 text-lg text-gray-900 border border-gray-300 rounded-xl bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
    <input *ngIf="needPassword" type="password"
           formControlName="password"
           id="password-input"
           placeholder="Enter password"
           class="block w-full p-4 text-lg text-gray-900 border border-gray-300 rounded-xl bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >

    <button type="submit"
            class="w-full bg-gradient-to-r from-purple-600 to-blue-500 hover:bg-gradient-to-l text-white font-semibold text-lg rounded-xl px-5 py-3 focus:ring-4 focus:ring-purple-300 dark:focus:ring-purple-800">
      Join Game
    </button>
  </form>
</join-window>
